aiohttp
langchain
langchain-community
langchain-openai
lark
neo4j
nltk==3.8.1
openai
pandas
pinecone
pinecone-text
pybase64
pyodbc
PyPDF2
python-docx
sounddevice
soundfile
streamlit
streamlit-aggrid
streamlit-audiorecorder
streamlit-feedback
streamlit-mic-recorder
