*.txt
!requirements.txt
*.json
*.exe
*.mp3
*.pdf
*.docx
.vsidx
.wsuo
*.csv
*.xlsx
slnx.sqlite
*.JSONL
*./vs
.vs
/myfunc/__pycache__/prompts.cpython-311.pyc
/myfunc/__pycache__/pyui_javascript.cpython-311.pyc
/venv
