aiohttp
azure-core
azure-storage-blob
beautifulsoup4
cohere
html2docx
langchain
langchain-community
langchain-openai
langchain-text-splitters
markdown
matplotlib
mysql-connector-python
networkx
openai
pandas
pillow
pinecone
pinecone_text
pypandoc
python-docx
PyPDF2
PyYAML
requests
streamlit-authenticator
semantic-router
setuptools
sounddevice
soundfile
streamlit
streamlit-javascript
tiktoken
tqdm
unidecode